*{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: black;  /* 使链接颜色透明 */
    text-decoration: none;  /* 去除下划线 */
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}
